---
import Counter from "../components/Counter.vue";
import { Debug } from 'astro/components';

// Welcome to Astro! Everything between these "---" code fences
// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");

// top-level await!!
const name = await getName();

async function getName() {
  return new Promise(function (resolve, reject) {
    setTimeout(function () {
      resolve("World");
    }, 100);
  })
}
---

<title>Astro Starter</title>

<h1>Hello, {name}!</h1>
<Counter client:load />

<Debug {Astro} />

<!-- Sass!! -->
<style lang="scss">
  $color: magenta;
  
  h1 {
    color: $color;
  }
</style>
