---
import HtmlDocument from "../components/HtmlDocument.astro";
import Counter from "../components/Counter.vue";
import { Debug } from "astro/components";

// Welcome to Astro! Everything between these "---" code fences
// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");

// top-level await!!
const name = await getName();

async function getName() {
  return new Promise(function (resolve, reject) {
    setTimeout(function () {
      resolve("World");
    }, 100);
  })
}
---
<HtmlDocument title="Astro Starter">
  <h1>Hello, {name}!</h1>
  
  <h2>Vue component</h2>
  <Counter client:load />
  
  <h2>Integrated API!</h2>
  <ul>
    <li><a href="/api">/api</a></li>
    <li><a href="/api/foo">/api/foo</a></li>
  </ul>
  
  <Debug {Astro} />
</HtmlDocument>

<style lang="scss">
  // Sass!!
  $color: magenta;
  
  h1 {
    color: $color;
  }
</style>
